{
	"parser": "babel-eslint",
	"extends": "eslint:recommended",
  "plugins": [
    "react"
  ],
	"parserOptions": {
	    "ecmaFeatures": {
	        "jsx": true,
	        "modules": true
	    }
	},
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1
  }
}